IRE699_1115/DomQueryIRE699/resources/IRE699_orarend.dtd

<!ELEMENT IRE699_orarend (ora*)>

<!ELEMENT ora (targy,idopont,helyszin,oktato+,szak)>
    <!ATTLIST ora id ID #REQUIRED>
    <!ATTLIST ora tipus (előadás|gyakorlat) "előadás">
    <!ATTLIST ora nyelv (magyar|angol|német) "magyar">

<!ELEMENT targy (#PCDATA)>

<!ELEMENT idopont (nap,tol,ig)>

<!ELEMENT nap (#PCDATA)>
<!ELEMENT tol (#PCDATA)>
<!ELEMENT ig (#PCDATA)>

<!ELEMENT helyszin (#PCDATA)>
<!ELEMENT oktato (#PCDATA)>
<!ELEMENT szak (#PCDATA)>